:host {
	display: flex;
	justify-content: center;
	height: 100%;
}
.main-column {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.todos-wrapper {
	height: 100%;
	overflow: auto;
	flex-grow: 1;
}
.alert {
	width: fit-content;
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}
@media screen and (min-width: 900px) {
	.main-column {
		margin: 0 25%;
	}
}
