<div class="centered-page sm flex flex-col gap-3 items-center">
	<!-- Title -->
	<h1 class="text-3xl name">
		{{ technologies[currentIndex].name }}
	</h1>

	<div class="flex gap-3 items-center justify-center w-full">
		<!-- button left -->
		<button
			type="button"
			class="btn previous-image"
			(click)="previousImage()">
			<app-icon
				unit="rem"
				[size]="1.5"
				icon="arrowLeft"></app-icon>
		</button>
		<!-- image -->
		<img
			[src]="technologies[currentIndex].path"
			[alt]="technologies[currentIndex].name"
			[style.width.px]="256"
			[style.height.px]="256" />
		<!-- button right -->
		<button
			type="button"
			class="btn next-image"
			(click)="nextImage()">
			<app-icon
				unit="rem"
				[size]="1.5"
				icon="arrowRight"></app-icon>
		</button>
	</div>
	<!-- link to the technology related to the current index -->
	<a
		class="link link-primary"
		href="{{ technologies[currentIndex].website }}"
		target="_blank">
		{{ technologies[currentIndex].website }}
	</a>
</div>
