<div class="navbar bg-base-100 shadow-lg">
	<div class="navbar-start">
		<div class="dropdown">
			<div
				tabindex="0"
				role="button"
				class="btn btn-ghost btn-circle">
				<app-icon
					unit="rem"
					[size]="1.5"
					icon="list"></app-icon>
			</div>
			<ul
				tabindex="0"
				class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow-lg bg-base-100 rounded-box w-52">
				<li><a routerLink="">Home</a></li>
				<li><a routerLink="slide-gallery">Slide Gallery</a></li>
				<li><a routerLink="todo-list">Todo List</a></li>
				<li><a routerLink="stepper">Stepper</a></li>
			</ul>
		</div>
	</div>
	<div class="navbar-center">
		<a
			routerLink=""
			class="btn btn-ghost text-xl">
			Angular Demo
		</a>
	</div>
	<div class="navbar-end"></div>
</div>
<router-outlet></router-outlet>
