<div class="centered-page sm flex flex-col gap-3 items-center">
	<h1 class="text-3xl name">
		{{ technologies[currentIndex].name }}
	</h1>

	<div class="flex gap-3 items-center justify-center w-full">
		<button
			type="button"
			class="btn previous-image"
			(click)="previousImage()"
		>
			<fa-icon
				[style.font-size.rem]="1.5"
				[icon]="faArrowAltCircleLeft"
			></fa-icon>
		</button>
		<img
			[src]="technologies[currentIndex].path"
			[alt]="technologies[currentIndex].name"
			[style.width.px]="256"
			[style.height.px]="256"
		/>
		<button type="button" class="btn next-image" (click)="nextImage()">
			<fa-icon
				[style.font-size.rem]="1.5"
				[icon]="faArrowAltCircleRight"
			></fa-icon>
		</button>
	</div>
	<a
		class="link link-primary"
		href="{{ technologies[currentIndex].website }}"
		target="_blank"
		>{{ technologies[currentIndex].website }}</a
	>
</div>
